<div class="container m-5" style="text-align: center;">
  <div class="heading" style="    display: flex; justify-content: space-between;">
    <h4>Products List</h4>
    <h6>Total Product ({{productList.length}})</h6>
  </div>

  <div class="product mt-4">
    <input type="text" class="search" placeholder="Search Product" (input)="onChangeSearch($event)">
    <table class="table" *ngIf="productList.length>0">
      <thead>
        <tr>
          <th scope="col">S. No</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Company</th>
          <th scope="col">Category</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of productList; let i= index">
          <th scope="row">{{i+1}}</th>
          <td>{{p.p_name}}</td>
          <td>&#8377; {{p.price}}.00</td>
          <td>{{p.company}}</td>
          <td>{{p.category}}</td>
          <td>
            <button (click)="getDelete(p._id)" class="del_btn">Delete</button>
            <a href="dashboard/update_product/{{p._id}}" class="update_btn">Update</a>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 *ngIf="productList.length==0">No result found</h3>
  </div>
</div>