
<div class="container m-4" style="text-align: center;" >
    <h4 class="mb-4">Add Your Product</h4>
    <div class="input_section">
        <form [formGroup]="productForm">

            <mat-form-field appearance="outline">
                <mat-label>Product Name</mat-label>
                <input matInput  formControlName="p_name">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput  formControlName="price">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <input matInput  formControlName="category">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Company Name</mat-label>
                <input matInput  formControlName="company">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>
            <br>
            <button mat-raised-button color="accent" (click)="addProduct()" >Add Product</button>
        </form>
    </div>
</div>